[submodule "lib/CCD"]
	path = lib/CCD
	url = git@cgitlab.jhhlab.tw:centrillion/CCD.git
[submodule "lib/slam_quant_seq"]
	path = lib/slam_quant_seq
	url = git@cgitlab.jhhlab.tw:johnidfet/slam_quant_seq.git
[submodule "lib/CPT"]
	path = lib/CPT
	url = git@cgitlab.jhhlab.tw:centrillion/CPT.git
	branch = ver.0.0.2
