[submodule "lib/CPT"]
	path = lib/CPT
	url = git@cgitlab.jhhlab.tw:JHHLAB/CPT.git
	branch = ver.0.0.2
[submodule "lib/CCD"]
	path = lib/CCD
	url = git@cgitlab.jhhlab.tw:JHHLAB/CCD.git
[submodule "lib/slam_quant_seq"]
	path = lib/slam_quant_seq
	url = git@cgitlab.jhhlab.tw:JHHLAB/slam_quant_seq.git
