[submodule "lib/CPT"]
	path = lib/CPT
	url = ssh://git@gitlab.centrilliontech.com.tw:10022/JHHLAB/CPT.git
	branch = ver.0.0.2
[submodule "lib/CCD"]
	path = lib/CCD
	url = ssh://git@gitlab.centrilliontech.com.tw:10022/JHHLAB/CCD.git
[submodule "lib/slam_quant_seq"]
	path = lib/slam_quant_seq
	url = ssh://git@gitlab.centrilliontech.com.tw:10022/JHHLAB/slam_quant_seq.git
[submodule "lib/Tailor"]
	path = lib/Tailor
	url = ssh://git@gitlab.centrilliontech.com.tw:10022/JHHLAB/Tailor.git
